.filter {
  margin: 10px;
  &__content {
    border: 2px solid lightblue;
    border-radius: 20px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    

  }
}

@media screen and (max-width: 500px) {
  .filter{
   
    &__content {
      width: 300px;
      margin: auto;
    }
  }
}