.card-info {
  &__banner {
    overflow: hidden;
    background-color: black;
    height: 35vh;
    position: relative;
  }

  &__image {
    width: min-content;
    height: 400px;
    display: block;
    margin: auto;
    padding: 20px;
  }

  &__main {
    padding: 10px 50px;
  }


  &__heading {
    font-size: 30px;
    width: fit-content;
    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: lightblue;
      border-radius: 15px;
    }
  }
}

@media screen and (min-width: 992px) {
  .card-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    overflow: hidden;
    margin: 50px 50px;
    box-shadow: 0px 10px 20px rgba(black, 0.25);
    min-height: 60vh;

    &__banner {
      height: 100%;
      background-color: unset;
    }

    &__image {
      // width: unset;
      // height: 100%;
      // left: unset;
      // transform: unset;
      // top: 0;
      // opacity: 0.8;

    }

    &__heading {
      margin: 0 auto;
    }
  }
}