.navbar{
  text-align: center;
  &__title {
    width: 400px;
    height: 150px;
    border-radius: 20px;
    margin-top: 20px;
  }
  &__search {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .navbar{
    &__search {
      display: block;
    }
  }
}